
backend/.env
backend/uploads/
backend/signatures/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/venv/
backend/.venv/
backend/env/


frontend/.env
frontend/node_modules/
frontend/dist/
frontend/.vercel/

.DS_Store
*.log